*{
    margin: 0;
    padding: 0;
}
html{
     font-size: 62.5%; /* 100%=16px=1rem now 1rem=10px--> 1px=1/10rem by default*/
     display: block;
     background-color: rgb(241, 240, 232);
}
.main{
    text-transform: capitalize;
    text-align: center;
    margin: 9rem;
    padding: 3rem;
    font-size: 4rem;
    display: flex;
}
#thermo{
    padding-left: 9rem;
   
}
@media (max-width:998px){
    html{
      font-size: 37%;
      color: blue;
    }
}
@media (max-width:750px){
    html{
      font-size: 24%;
      color: rgb(252, 8, 110);
    }
}
@media (max-width:420px){
    html{
      font-size: 15%;
      color: rgb(252, 8, 110);
    }
}